{% extends 'basic.html' %}
{% block title %}
Add Assignment
{% endblock title %}
{% block body %}
<div class="container mb-4">
    <form action="" method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-row mt-3">
            <div class="form-group col-sm">
                <label for="topic">Topic</label>
                <input type="text" class="form-control" name="topic" placeholder="Topic" required>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
        </div>
        <div class="form-row mt-3">
            <div class="form-group col-sm-6">
                <div class="form-inline">
                    <label for="date">Date:</label>
                    <input type="date" name="date" class="form-control" id="date" required>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <div class="form-inline">
                    <label for="duedate">Due Date:</label>
                    <input type="date" name="duedate" class="form-control" id="duedate" required>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
            </div>
        </div>

        <div class="form-row mt-3">
            <div class="col-sm">
                <input type="submit" class="btn btn-primary" value="Submit">
                <input type="reset" class="btn btn-primary" value="Clear">
            </div>
        </div>
    </form>
    <div>
        <h2>Continue Adding Questions</h2>
        <ul class="list-group list-group-flush">
            {% for topic in prev_topic %}
            <li class="list-group-item">
                <a href="{{topic}}/">{{topic}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>

<script>
    // Disable form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

{% endblock body %}