<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teacher Login</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="t_name" required>
        <input type="password" name="t_passwd" required>
        <input type="submit" value="submit">
    </form>
    <input type="text" id="chk" style="display: none;" value="{{not_found}}">
    <script>
        if(document.getElementById("chk").value == "True"){
            alert("name or password incorrect");
        }
    </script>
</body>
</html>